<!DOCTYPE html>
<html>
<head>
  <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
</head>
<body>
  <script>
    const socket = io('http://127.0.0.1:5000');

    socket.on('connect', () => {
      console.log('Connected to server');
    });

    socket.on('disconnect', () => {
      console.log('Disconnected from server');
    });

    // Listen for 'server_event' from the server
    socket.on('server_event', (data) => {
      console.log('Received server event:', data);
    });
  </script>
</body>
</html>
